{% extends 'bootstrap/base.html' %}
{% block content %}

<head>
    <title>NLP APP</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h2>Natural Language Processing Web Application</h2>
        </div>
    </div>
    <form action="{{url_for('analyse')}}" method="POST" id="myForm">
        <textarea name="rawtext" rows="3" cols="3" class="form-control">
            
        </textarea><br/>
        <div class="text-center">
        <input type="submit" name="" value="Submit" class="btn btn-primary">
        <input type="reset" name="" value="Clear" class="btn btn-outline-primary">
        <a href="{{url_for('index')}}" class="btn btn-danger">Reset</a>
        </div>
    </form><br/>
    <div class="container">
        <div class="card">
            <div>     
                <table class="table table-striped table-dark">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">Given Text</th>
                            <th scope="col">Length</th>
                            <th scope="col">Sentiment</th>
                            <th scope="col">Important Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p class="text-center">{{rtext}}</p></td>
                            <td><p>{{length}}</p></td> 
                            <td><p>{{sent}}</p></td>
                            <td> 
                                <div>
                                {% for i in summary %}
                                <li>{{i}}</li>
                                {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>                                         
            </div><br/>
            <div>
                <table class="table table-striped table-dark" cellspacing="2" cellpadding="2">
                    <thread>
                        <thead>
                            <tr>
                            <th scope="col">Words and Meaning</th>                            
                            </tr>
                        </thead>                       
                        <tbody>
                            <tr>                                                           
                                    {% for i in summary%}                            
                                    <td>{{i}}</td>
                                    <td><a href="https://www.dictionary.com/browse/{{i}}" type="button" target="blank_" class="btn btn-primary">View</a></td>
                                    {% endfor %}                                
                            </tr>
                        </tbody>                        
                        
                    </thread>
                </table>
            </div>                     
        </div>        
    </div>
</body>


{% endblock %}